.review-container {

    margin: 50px auto;

}
.proceed-link{
    text-decoration: none;
}

.btn-proceed {
    background: #FF9900;
    border-radius: 4px;
    color: white;
    margin: 10px auto;
    width: 90%;
    height: 56px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 4px;
    font-size: 21px;
    
}